name: Deployment (Container)
on:
  push:
    branches:
      - main
      - dev
  pull_request:
    types:
      - edited
      - opened
  workflow_dispatch:
env:
  version_number: ${{ vars.MAJOR_VERSION }}.${{ vars.MINOR_VERSION }}.${{ github.run_number}}
  registry_url: crs63dev100.azurecr.io
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag $registry_url/s63-back:latest --tag s63-back:${{ env.version_number }} 
    - name: Login to Azure Registry
      run: echo ${{ secrets.ACR_PASSWORD }} | docker login --username ${{ vars.ACR_USERNAME }} --password-stdin  $registry_url
    - name: Pull the Docker image
      run: |
        docker image ls
        docker image push --all-tags $registry_url/s63-back
      
