name: Deployment (Container)
on:
  push:
    branches:
      - main
      - dev
  pull_request:
    types:
      - edited
      - opened
  workflow_dispatch:
env:
  version_number: ${{ vars.MAJOR_VERSION }}.${{ vars.MINOR_VERSION }}.${{ github.run_number}}
  registry_url: crs63dev100.azurecr.io
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: docker build --file Dockerfile --tag 'latest' --tag ${{ env.version_number }} .
    - name: Login to Azure Registry
      run: docker login --username ${{ vars.ACR_USERNAME }} --password ${{ secrets.ACR_PASSWORD }} $registry_url
    - name: Pull the Docker image
      run: docker image push --all-tags  
      
